* {
    box-sizing: border-box;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    
}

:root {
    --perfect-blue: #b1d4ec;
}

body {
margin: 0;
height: 100vh;
display: grid;
grid-template-rows: auto 1fr;
}

header {
font-size: 6vmin;
padding: 1vmin;
background-image: repeating-linear-gradient(rgba(0, 0, 255, 0.452), rgba(255, 192, 203, 0.486), rgba(255, 255, 255, 0.39)),
  url("https://i.redd.it/pujyuh2w3gs51.png");
color: white;
text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
text-align: center;
letter-spacing: 0.5vmin;
font-size: 5vmin;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

ul {
    margin: 1vmin;
}

ul li:hover {
    background: #ddd;
  }

div input{
    width: 15vh;
    height: 15vh;
    margin: auto;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
}

section button {
    font-size: 3vmin;
    font-weight: bold;
    width: 5vmin;
    height: 5vmin;
    margin: 0.5vmin;
    border: 0.4vmin solid grey;
    border-radius: 1vmin;
    
}

#replay {
    font-size: 2vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .3vmin solid grey;
    color: grey;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }
#replay:hover {
    background-color: rgba(0, 255, 255, 0.199);
    color: black;
  }

  #error {
      display: none;
  }

.X {
    background-color:cyan;
}
.O {
    background-color:pink;
}

@media (max-width: 600px) {
    .cell {background-color: red;}
    * { background-color: red;}
    #msg {display: none;}
    #error {display:block;}
}